
<ion-app>
    <ion-split-pane when="sm" contentId="main-content">
        <ion-menu contentId="main-content">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-list-header> Navigate </ion-list-header>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Sign In</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Home</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Profiles</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 01</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 03</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 04</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 05</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 06</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 07</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-menu-toggle [autoHide]="false">
                        <ion-item button>
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Menu 08</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>
            </ion-content>
        </ion-menu>

        <div class="ion-page" id="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-title>{{appTitle}}</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-footer>
                <ion-toolbar>
                    <ion-title>{{appDevFullName}}</ion-title>
                </ion-toolbar>
            </ion-footer>

            <ion-content class="ion-padding">
                <h1>Main Content</h1>
                <h4>Display Here The Porfile 01</h4>
                <h4>Display Here The Porfile 02</h4>
                <h4>Display Here The Porfile 03</h4>
                <h4>Display Here The Porfile 04</h4>
                <h4>Display Here The Porfile 05</h4>

                <br>

                <h1>List-Profiles Works!</h1>
                <h4>Display Here The Porfile 01</h4>
                <h4>Display Here The Porfile 02</h4>
                <h4>Display Here The Porfile 03</h4>
                <h4>Display Here The Porfile 04</h4>
                <h4>Display Here The Porfile 05</h4>
                <h4>Display Here The Porfile 06</h4>
                <h4>Display Here The Porfile 07</h4>
                <h4>Display Here The Porfile 08</h4>
                <h4>Display Here The Porfile 09</h4>
                <h4>Display Here The Porfile 10</h4>
                <h4>Display Here The Porfile 11</h4>
                <h4>Display Here The Porfile 12</h4>
                <h4>Display Here The Porfile 13</h4>
                <h4>Display Here The Porfile 14</h4>
                <h4>Display Here The Porfile 15</h4>
                <h4>Display Here The Porfile 16</h4>
                <h4>Display Here The Porfile 17</h4>
                <h4>Display Here The Porfile 18</h4>
                <h4>Display Here The Porfile 19</h4>
                <h4>Display Here The Porfile 20</h4> 


                <!-- 
                <div *ngFor="let profile in profiles">
                    {{profile.name}}
                    <br>
                </div> 
                -->

            </ion-content>
        </div>
    </ion-split-pane>
</ion-app>

<router-outlet></router-outlet>